h1 {
    text-align: center;
    font-family: sans-serif;
}

#rod-container {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    height: 600px;
    background-color: white;
}

.rod {
    width: 30px;
    height: 600px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: visible;
    background-color: rgb(142, 92, 43);
}

#base {
    margin: 0 auto;
    width: 1200px;
    height: 30px;
    background-color: rgb(142, 92, 43)
}

.ring {
    border-radius: 10%;
    height: 100px;
    border: solid black 1px;
    margin: 0 auto;
}