h1 {
    text-align: center;
    font-family: sans-serif;
}

#gameContainer {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    height: 600px;
    background-color: white;
}

.rodContainer {
    width: calc(100% / 3);
    height: 600px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.rod {
    height: 600px;
    width: 30px;
    background-color: rgb(142, 92, 43);
    position: absolute;
    z-index: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#base {
    margin: 0 auto;
    width: 1200px;
    height: 30px;
    margin-bottom: 30px;
    background-color: rgb(142, 92, 43)
}

.ring {
    position: relative;
    border-radius: 20px;
    height: 100px;
    border: solid black 1px;
    margin: 0 auto;
    z-index: 2;
}

#buttonContainer {
    margin: 0 auto;
    text-align: center;
}

.glowing {
    border: solid red 5px;
    box-shadow: 0 0 50px red;
    color: red;
    text-align: center;
    font-family: sans-serif;
    line-height: 100px;
    overflow: hidden;
}