h1 {
    text-align: center;
    font-family: sans-serif;
}

#gameContainer {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    height: 600px;
    background-color: white;
}

.rodContainer {
    width: 33.3333%;
    height: 600px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.rod {
    height: 600px;
    width: 30px;
    background-color: rgb(142, 92, 43);
    position: absolute;
    z-index: 1;
}

#base {
    margin: 0 auto;
    width: 1200px;
    height: 30px;
    background-color: rgb(142, 92, 43)
}

.ring {
    border-radius: 10px;
    height: 100px;
    border: solid black 1px;
    margin: 0 auto;
    z-index: 2;
}